<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="#">서울특별시</a>

<br><br><br>

<a href="#">경기도</a>
<a href="#">강원도</a>
<a href="#">충청남도</a>
<a href="#">충청북도</a>
<a href="#">경상북도</a>
<a href="#">경상남도</a>
<a href="#">전라북도</a>
<a href="#">전라남도</a>


<br><br><br>


<a href="#">인천광역시</a>
<a href="#">세종특별자치시</a>
<a href="#">대전광역시</a>
<a href="#">대구광역시</a>
<a href="#">울산광역시</a>
<a href="#">부산광역시</a>
<a href="#">광주광역시</a>
<a href="#">제주특별자치도</a>

</body>
</html>